<!DOCTYPE html>
<html lang="en">
<head>
    <title>SA | Contact</title>
</head>
<body>
    {% include "header.html" %}

   {% comment %} <!-- ----------------- Contact Section -------------------- --> {% endcomment %}
   <div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-paper-plane"></i> contact@example.com</p>
                <p><i class="fa-solid fa-phone-square"></i> 9923086963</p>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <a href="static/my-cv.pdf" class="btn btn2" download>Download CV</a>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    {% comment %} <!-- ----------------- Contact Section -------------------- --> {% endcomment %}

    {% include "footer.html" %}

    </div>

</body>
</html>