<!DOCTYPE html>
<html lang="en">
<head>
    <title>SA | Services</title>
</head>
<body>

{% include "header.html" %}


      {% comment %} <!-- ----------------- Services Section -------------------- --> {% endcomment %}

      <div id="services">
        <div class="container">
            <h1 class="sub-title">My Servies</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident cupiditate ratione voluptatum error, excepturi odit eos assumenda omnis explicabo aspernatur?</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <i class="fa-solid fa-crop-simple"></i>
                    <h2>UI/UX Design</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident cupiditate ratione voluptatum error, excepturi odit eos assumenda omnis explicabo aspernatur?</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <i class="fa-brands fa-app-store"></i>
                    <h2>App Design</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident cupiditate ratione voluptatum error, excepturi odit eos assumenda omnis explicabo aspernatur?</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!-- ----------------- Services Section -------------------- --> {% endcomment %}

{% include "footer.html" %}
    </div>

</body>
</html>